<div class="flex flex-row w-screen h-8 md:h-12 text-gray-300 bg-gray-800 items-center justify-center space-x-8 py-4">
  <a href="#" class="hover:bg-gray-600 p-2 rounded-lg font-semibold">Home</a>
  <a href="/profile/<%= did %>" class="hover:bg-gray-600 p-2 rounded-lg font-semibold">Profile</a>
  <a href="/contactlist/<%= did %>" class="hover:bg-gray-600 p-2 rounded-lg font-semibold">Contacts</a>
</div>
