---
import { SEO } from "astro-seo";
import Navbar from "../components/navbar.astro"
import Footer from "../components/footer.astro"

interface Props {
	title: string;
}

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Decentralised Contact Network"
  : "Social Graph Protocol";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={makeTitle}
      description="Decentralised Contact Network"
      canonical={"https://network.shovel.company"}
      openGraph={{
        basic: {
        url: "https://network.shovel.company",
          type: "website",
          title: `Decentralised Contact Network`,
          image: "https://network.shovel.company/DCN_screen.png",
        },
        image: {
          alt: "DCN Homepage Screenshot",
        },
      }}
    />
	</head>
  <body class="antialiased flex flex-col justify-between min-h-screen font-mono">
    <Navbar />
		<slot />
    <Footer />
	</body>
</html>
