<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <script type="module">
      import { dial, createExchangeRoot, acceptShare, createBrowserNode, ExamplePublicFile, ExamplePrivateFile} from '/helia_pds_browser.js';
      window.createBrowserNode = createBrowserNode;
      window.ExamplePublicFile = ExamplePublicFile;
      window.ExamplePrivateFile = ExamplePrivateFile;
      window.dial = dial;
      window.createExchangeRoot = createExchangeRoot;
      window.acceptShare = acceptShare;
    </script>
    <div class="flex flex-col justify-evenly items-center h-screen bg-neutral">
      <div class="text-5xl font-bold tracking-tight underline underline-offset-4 decoration-4 decoration-accent">Helia PDS new</div>
    </div>
  </body>
</html>