<script type="module">
  import { getMemberships, getDirectories, directoryRepo } from '/odd.js';

  window.refreshDirectories = function(){
    getDirectories().then(async (result) => {
      await result.forEach(async element => {
        console.log(element)
        element.link = await directoryRepo.getLink(element)
        document.querySelector("#directory-list").innerHTML = document.querySelector("#directory-list").innerHTML + JSON.stringify(element)
      });
    })
  }
  refreshDirectories();

  window.refreshMemberships = function(){
    getMemberships().then((result) => {
      document.querySelector("#membership-list").innerHTML = JSON.stringify(result)
    })
  }
  refreshMemberships();
</script>

<div id="directory-list" class="overflow-x-auto w-full px-4"></div>
<div id="membership-list" class="overflow-x-auto w-full px-4">
</div>