<script type="module">
  import { getMemberships } from '/odd.js';

  window.refreshMemberships = function(){
    getMemberships().then((result) => {
      document.querySelector("#membership-list").innerHTML = JSON.stringify(result)
    })
  }
  refreshMemberships();
</script>

<div id="directory-list" class="overflow-x-auto w-full px-4"></div>
<div id="membership-list" class="overflow-x-auto w-full px-4">
</div>