<script type="module">
  import { getMemberships, getDirectories, directoryRepo } from '/odd.js';

  window.refreshDirectories = function(){
    getDirectories().then(async (result) => {
      document.querySelector('directory-table').directories = result;
    })
  }
  refreshDirectories();

  window.refreshMemberships = function(){
    getMemberships().then((result) => {
      document.querySelector("#membership-list").innerHTML = JSON.stringify(result)
    })
  }
  refreshMemberships();
</script>

<div id="directory-list-table" class="overflow-x-auto w-full px-4">
  <directory-table></directory-table>
</div>
<div id="membership-list" class="overflow-x-auto w-full px-4">
</div>