<script type="module">
  if (window.__TAURI__) {
    document.getElementById("google-import").style.display = "none"
  }
  import { getProfile, v1UpdateProfile } from '/odd.js';
  window.v1UpdateProfile = v1UpdateProfile

  var lFor = []
  var iIn = []
  var exp = []
  
  getProfile().then((result) => {
    console.log("I am inside getprofile :", result)
    document.getElementById("profile-name").innerHTML = result.name
    document.getElementById("profile-handle").innerHTML = result.handle
    document.getElementById("profile-bio").innerHTML = result.text
    
    window.lFor = result.lookingFor
    window.iIn = result.canHelpWith
    window.exp = result.expertise

    console.log(window.lFor, window.iIn, window.exp)
    
    const badges = [...document.querySelectorAll('#color-changing-badge')];
    //Set deault color & Flips the colour of option pills and stores the resposes of respective question
    badges.forEach((badge) => {
      if ((result.canHelpWith).includes(badge.innerHTML) || (result.lookingFor).includes(badge.innerHTML) || (result.expertise).includes(badge.innerHTML)) {
        badge.classList.remove('badge-outline');
        badge.classList.add('badge-neutral');
        badge.setAttribute('data-is-clicked', true)
      }
    })

    badges.forEach((badge) => {
      badge.addEventListener('click', () => {
        let isClicked = badge.getAttribute('data-is-clicked')
        let question = badge.getAttribute('question')
        if (isClicked === "false") {
          badge.classList.remove('badge-outline');
          badge.classList.add('badge-neutral');
          badge.setAttribute('data-is-clicked', true)
          switch (question){
            case 'lookingFor':
              console.log("adding", badge.innerHTML)
              window.lFor.push(badge.innerHTML)
              break;
            case 'canHelpWith':
              window.iIn.push(badge.innerHTML)
              break;
            case 'expertise':
              window.exp.push(badge.innerHTML)
              break;
            default:
              console.log("Store for Question not defined")
          }
          console.log("On Add : ", "looking for :", window.lFor, "canHelpWith :", window.iIn, "expertise :", window.exp)
        } else {
          badge.classList.remove('badge-neutral');
          badge.classList.add('badge-outline');
          badge.setAttribute('data-is-clicked', false)
          let index
          switch (question){
            case 'lookingFor':
              index = lFor.indexOf(badge.innerHTML)
              window.lFor.splice(index++, 1)
              break;
            case 'canHelpWith':
              index = iIn.indexOf(badge.innerHTML)
              window.iIn.splice(index++, 1)
              break;
            case 'expertise':
              index = exp.indexOf(badge.innerHTML)
              window.exp.splice(index++, 1)
              break;
            default:
              console.log("Store for Question not defined")
          }
          console.log("On remove :", "looking for :", window.lFor, "canHelpWith :", window.iIn, "expertise :", widnow.exp)
        }
      })
    })
  })
  
</script>

<div class="max-md:flex max-md:justify-center max-md:items-center avatar online placeholder max-md:mx-20">    
  <div class="bg-neutral-focus text-neutral-content rounded-full w-32">
    <span class="text-3xl profile_username_first_letter"></span>
  </div>
</div>

<div class="flex justify-center items-center py-1">
  <div class="flex items-center space-x-2">
    <span id="handle" class="text-xl font-semibold ml-2" style="display: inline-block; max-width: 200px; overflow: hidden; text-overflow: ellipsis;"></span>
  </div>
</div>

<div id="name" class="py-1 text-left"></div>
<div class="text-left">Looking For :</br><span class="space-x-1 space-y-1 py-1" id="lookingFor"></span></div>
<div class="text-left">Can Help With :</br><span class="space-x-1 space-y-1 py-1" id="canHelpWith"></span></div>
<div class="text-left">Expertise :</br><span class="space-x-1 space-y-1 py-1" id="expertise"></span></div>

<div class="max-md:pt-2 md:absolute md:inset-x-0 md:bottom-0 md:pb-4 md:flex md:flex-col md:space-y-2 md:items-center">
  <button id="profile-edit-btn" class="btn max-md:my-1 btn-outline max-md:w-5/6 md:btn-sm md:w-2/3" onclick="profile_edit_modal.showModal()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"> <path fill="currentColor" d="m13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057l3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" /></svg>
    Edit Profile
  </button>
  <button class="btn max-md:my-1 btn-outline max-md:w-5/6 md:btn-sm md:w-2/3" onclick="logout_modal.showModal()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="currentColor" d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2zM3 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1H3z" /></svg>
    Logout
  </button>
</div>

<dialog id="profile_edit_modal" class="modal">
  <div class="modal-box">
    <h3 class="font-semibold text-lg">Edit Profile</h3>
    <p class="text-xs font-light">⚡ Changes will propogate automatically to all community directories</p>
    <div class="modal-action flex justify-center items-center">
      <form id="profile-updatae-form"
        onsubmit="event.preventDefault(); window.v1UpdateProfile({lookingFor: window.lFor, canHelpWith: window.iIn, expertise: window.exp}).then(function(){refreshProfile()}); profile_edit_modal.close(); return false"
        class="space-y-1 text-center">
        <div class="font-semibold text-left">Name : <span id="profile-name" class="font-normal"></span></div>
        <div class="font-semibold text-left">Handle : <span id="profile-handle" class="font-normal"></span></div>
        <div class="font-semibold text-left">Bio : <span id="profile-bio" class="font-normal"></span></div>
        
        <div class="divider py-2"></div>
        
        <div>
          <div>Looking For</div>
          <% for(var i=0; i<options.lookingFor.length; i++) {%>
            <div id="color-changing-badge" class="badge badge-md badge-outline cursor-pointer" data-is-clicked="false" question="lookingFor"> <%= options.lookingFor[i] %></div>
          <% } %>
        </div>
        <div>
         <div>Can Help With</div>
          <% for(var i=0; i<options.canHelpWith.length; i++) {%>
            <div id="color-changing-badge" class="badge badge-md badge-outline cursor-pointer" data-is-clicked="false" question="canHelpWith"> <%= options.canHelpWith[i] %></div>
          <% } %>
        </div>
        <div>
          <div>Expertise</div>
          <% for(var i=0; i<options.expertise.length; i++) {%>
            <div id="color-changing-badge" class="badge badge-md badge-outline cursor-pointer" data-is-clicked="false" question="expertise"> <%= options.expertise[i] %></div>
          <% } %>
        </div>
        
        <div class="flex flex-row space-x-2 pt-4 justify-center">
          <button type="submit" class="btn btn-outline btn-sm">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="currentColor"><path d="M12 2h-2v3h2V2Z"/><path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v13A1.5 1.5 0 0 0 1.5 16h13a1.5 1.5 0 0 0 1.5-1.5V2.914a1.5 1.5 0 0 0-.44-1.06L14.147.439A1.5 1.5 0 0 0 13.086 0H1.5ZM4 6a1 1 0 0 1-1-1V1h10v4a1 1 0 0 1-1 1H4ZM3 9h10a1 1 0 0 1 1 1v5H2v-5a1 1 0 0 1 1-1Z"/></g></svg>
          </button>
          <button class="btn btn-outline btn-sm" onclick="event.preventDefault(); profile_edit_modal.close();">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="currentColor"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8L4.646 5.354a.5.5 0 0 1 0-.708z"/></g></svg>
          </button>
        </div>
      </form>
    </div>
  </div>
</dialog>
<dialog id="logout_modal" class="modal">
  <div class="modal-box">
    <p class="text-lg font-bold">Note</p>
    <p class="text-sm">Sign-in with the same FC account/wallet the next time</p>
    <div class="modal-action flex flex-col justify-center items-center space-y-2">
      <form class="flex flex-col space-y-2 items-center" onsubmit="event.preventDefault(); signout().then(function(){window.location.href='/home'}) ;return false">
        <div class="flex flex-row space-x-2">
          <button type="submit" class="btn btn-outline btn-sm">
            Logout
          </button>
          <button class="btn btn-outline btn-sm" formmethod="dialog" onclick="event.preventDefault(); logout_modal.close()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="currentColor"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8L4.646 5.354a.5.5 0 0 1 0-.708z"/></g></svg>
          </button>
        </div>
      </form>
    </div>
  </div>
</dialog>