<div class="flex flex-row w-screen h-8 md:h-12 text-gray-300 bg-red-600 items-center justify-center space-x-8 py-4">
  <div class="hover:bg-gray-600 p-2 rounded-lg font-semibold">Rolodex</div>
</div>
