<div class="flex flex-row w-screen h-8 md:h-12 text-gray-300 bg-gray-700 items-center justify-center space-x-8 py-4">
  <a href="#" class="p-2 rounded-lg font-semibold text-4xl text-red-500">Rolodex</a>
</div>
