<script type="module">
  import { getContacts, editContact, deleteContact, renderTable } from '/dist/odd.js';
  window.editContact = editContact;
  window.deleteContact = deleteContact;

  window.setContactEditForm = function (id, name){
    document.getElementById("edit-contact-name").value = name
    document.getElementById("edit-contact-id").value = id
  }

  window.refreshContacts = function(){
    getContacts().then((result) => {
      document.querySelector("#contact-list-table > table > tbody").replaceWith(renderTable(result))
    })
  }
  refreshContacts();
</script>

<div id="contact-list-table" class="overflow-x-auto w-1/2">
  <table class="table table-zebra">
    <tbody></tbody>
  </table>
</div>
<dialog id="contact_edit_modal" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Contact Details</h3>
    <p class="text-xs">Press ESC key or click the button below to close</p>
    <div class="modal-action flex justify-center items-center">
      <form id="edit-contact-form"
        onsubmit="event.preventDefault(); editContact(document.getElementById('edit-contact-id').value, document.getElementById('edit-contact-name').value).then(function(){refreshContacts()}); return false"
        class="space-y-1 text-center">
        <label for="user_name" class="font-bold">Name</label>
        <input type="text" id="edit-contact-id" hidden class="border border-gray-300 px-2 py-1 rounded-lg">
        <input type="text" id="edit-contact-name" class="border border-gray-300 px-2 py-1 rounded-lg">
        <button type="submit" class="btn btn-outline btn-sm">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"> <path fill="currentColor" d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z" /></svg>
        </button>
      </form>
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn btn-outline btn-sm">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="currentColor"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8L4.646 5.354a.5.5 0 0 1 0-.708z"/></g></svg>
        </button>
      </form>
      <button class="btn btn-outline btn-sm" onclick="deleteContact(document.getElementById('edit-contact-id').value).then(function(){console.log('done')})">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="currentColor" d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1l-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/></svg>
      </button>
    </div>
  </div>
</dialog>