<script type="module">
  if (window.__TAURI__) {
    document.getElementById("google-import").style.display = "none"
  }

  var confirm
  var reject
  console.log("checking js loading")
  window.startDeviceLink = async function(){
    var handle = await window.shovel.agent.handle()
    var url = `${window.location.origin}/link?handle=${handle}&peerId=${shovel.helia.libp2p.peerId.string}`
    document.querySelector("#device_link_modal > .modal-box > .modal-action > div").innerHTML = url
    var qrcode = new QRCode({content: url, container: "svg-viewbox", join: true});
    document.querySelector("#device_link_modal > .modal-box > .modal-action > .qr").innerHTML = qrcode.svg();
    window.shovel.agent.actAsApprover(handle).then(() => {
      shovel.agent.approver.notification.addEventListener("challengeRecieved", (challengeEvent) => {
        window.pin = challengeEvent.detail.message.challenge.pin
        confirm = challengeEvent.detail.confirm
        reject = challengeEvent.detail.reject
      })
      shovel.agent.approver.notification.addEventListener("complete", (event) => {
        if (event.detail == "CONFIRMED"){
          device_link_modal.close()
          alert("Device Linked!") 
        }
      })
    })

    device_link_modal.showModal()
  }
  window.challengeProcessor = function (input){
    if(input === window.pin.join("")) {
      confirm.call() 
    } else {
      reject.call()
    }
  }

  window.onAppleImportClick = function () {
    import_contacts_modal.showModal()
    
    window.appleCredsPresent().then(function (result){
      if(result.response){
        document.getElementById("apple_username").value = result.value.username
        document.getElementById("apple_password").value = result.value.password
        document.querySelector("#import_contacts_modal > .modal-box > .modal-action > form > div > button").innerHTML = `
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="currentColor"><path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914a.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/><path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/></g></svg>
        import again
        `
      }
    })
  }

  window.showLoading = function(){
    document.querySelector(".loading").classList.remove("hidden");
    document.getElementById("apple_username").style.display = "none"
    document.getElementById("apple_password").style.display = "none"
  }

  window.hideLoading = function(){
    document.querySelector(".loading").classList.add("hidden");
    document.getElementById("apple_username").style.display = ""
    document.getElementById("apple_password").style.display = ""
  }

  window.addConnectionButton = async function(){
    // TODO check if valid handle to connect
    var connectHandle = document.getElementById('connection-handle').value
    let person = await window.getContactForRelate()
    console.log("person with XML :", person)
    // TODO Transfer profile.json in such a way, that it mimics forever contact app semantics
    let requester = await window.shovel.agent.actAsRelationshipRequester("<%= address %>", "<%= broker %>", `${connectHandle}`, person)
    requester.notification.addEventListener("CONFIRMED", async (event) => {
      console.log(event.detail)
      await window.addConnection(event.detail.data.person)
    })
  }
</script>

<%- include('./sidebar_temp.ejs') %>
<dialog id="network_modal" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Add Connection</h3>
    <p class="text-xs">Press ESC key or click the button below to close</p>
    <div class="modal-action flex justify-center items-center">
      <form id="connection-add-form"
        onsubmit="event.preventDefault(); window.addConnectionButton(document.getElementById('connection-handle').value); network_modal.close(); document.getElementById('connection-handle').value = ''; return false"
        class="space-y-1 text-center">
        <label for="connection-handle" class="label"><span class="label-text">Handle</span></label>
        <input type="text" id="connection-handle" class="border border-gray-300 px-2 py-1 rounded-lg">
        <div class="flex flex-row space-x-2 pt-4 justify-center">
          <button type="submit" class="btn btn-outline btn-sm">
            Connect
          </button>
          <button class="btn btn-outline btn-sm" onclick="event.preventDefault(); network_modal.close();">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="currentColor"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8L4.646 5.354a.5.5 0 0 1 0-.708z"/></g></svg>
          </button>
        </div>
      </form>
    </div>
  </div>
</dialog>
<dialog id="profile_edit_modal" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Edit Profile</h3>
    <p class="text-xs">Press ESC key or click the button below to close</p>
    <div class="modal-action flex justify-center items-center">
      <form id="profile-updatae-form"
        onsubmit="event.preventDefault(); updateProfile(document.getElementById('handle').innerHTML, document.getElementById('profile-name').value, tagsArray(document.getElementById('profile-tags').value), document.getElementById('profile-text').value).then(function(){console.log('i am here'); refreshProfile()}); profile_edit_modal.close(); return false"
        class="space-y-1 text-center">
        <label for="profile-name" class="label"><span class="label-text">Name</span></label>
        <input type="text" id="profile-name" class="border border-gray-300 px-2 py-1 rounded-lg" value="name">
        <label for="profile-tags" class="label"><span class="label-text">Tags (comma separated)</span></label>
        <input type="text" name="profile-tags" id="profile-tags" class="input input-sm input-bordered rounded-lg">
        <label for="profile-text" class="label"><span class="label-text">Text</span></label>
        <textarea type="text" name="profile-text" id="profile-text" class="textarea textarea-bordered rounded-lg"></textarea>
        <div class="flex flex-row space-x-2 pt-4 justify-center">
          <button type="submit" class="btn btn-outline btn-sm">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="currentColor"><path d="M12 2h-2v3h2V2Z"/><path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v13A1.5 1.5 0 0 0 1.5 16h13a1.5 1.5 0 0 0 1.5-1.5V2.914a1.5 1.5 0 0 0-.44-1.06L14.147.439A1.5 1.5 0 0 0 13.086 0H1.5ZM4 6a1 1 0 0 1-1-1V1h10v4a1 1 0 0 1-1 1H4ZM3 9h10a1 1 0 0 1 1 1v5H2v-5a1 1 0 0 1 1-1Z"/></g></svg>
          </button>
          <button class="btn btn-outline btn-sm" onclick="event.preventDefault(); profile_edit_modal.close();">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="currentColor"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8L4.646 5.354a.5.5 0 0 1 0-.708z"/></g></svg>
          </button>
        </div>
      </form>
    </div>
  </div>
</dialog>
<dialog id="import_contacts_modal" class="modal">
  <div class="modal-box">
    <p class="text-base">Generate app specific password <a href="https://appleid.apple.com/" class="link" target="_blank">here</a></p>
    <p class="text-xs italic">Rolodex DOES NOT store to any of your data, it stays encrypted on your device & in your private vault on IPFS</p>
    <div class="modal-action flex flex-col justify-center items-center space-y-2">
      <form class="flex flex-col space-y-2 items-center" onsubmit="event.preventDefault(); window.importContacts(document.querySelector('#apple_username').value, document.querySelector('#apple_password').value); showLoading(); setTimeout(()=>{import_contacts_modal.close(); refreshContacts(); hideLoading();}, 5000); return false">
        <input type="text" id="apple_username" placeholder="Apple ID" class="input input-bordered input-sm w-full max-w-xs" />
        <input type="password" id="apple_password" placeholder="App Specific Password" class="input input-bordered input-sm w-full max-w-xs" />
        <div class="loading loading-infinity loading-lg hidden"></div>
        <div class="flex flex-row space-x-2">
          <button type="submit" class="btn btn-outline btn-sm">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="currentColor"><path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/><path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/></g></svg>
            Import
          </button>
          <button class="btn btn-outline btn-sm" formmethod="dialog" onclick="event.preventDefault(); import_contacts_modal.close()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="currentColor"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8L4.646 5.354a.5.5 0 0 1 0-.708z"/></g></svg>
          </button>
        </div>
      </form>
    </div>
  </div>
</dialog>
<dialog id="device_link_modal" class="modal">
  <div class="modal-box">
    <p class="text-xs">1. Scan QR OR copy this link and paste on another device</br>2. Input the pin & submit</p>
    <div class="modal-action flex flex-col justify-center items-center space-y-2">
      <div>link with username</div>
      <div class="qr w-64 h-64"></div>
      <form class="flex flex-row space-x-2" onsubmit="event.preventDefault(); challengeProcessor(document.querySelector('#device_link_modal > .modal-box > .modal-action > form > input').value); return false">
        <input type="text" placeholder="put pin" class="input input-bordered input-sm w-full max-w-xs" />
        <button type="submit" class="btn btn-outline btn-sm">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="currentColor" d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0a5.5 5.5 0 0 1 11 0z" /></svg>
          submit
        </button>
      </form>
      <form method="dialog">
        <button class="btn btn-outline btn-sm">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="currentColor"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8L4.646 5.354a.5.5 0 0 1 0-.708z"/></g></svg>
        </button>
      </form>
    </div>
  </div>
<dialog id="logout_modal" class="modal">
  <div class="modal-box">
    <p class="text-lg font-bold">Beware!!</p>
    <p class="text-sm">Your account is bound to this device </p>
    <p class="text-sm mt-2">Do Not Logout if you have not downloaded </br> the Recovery Key or Linked Another Device to this account yet</p>
    <div class="modal-action flex flex-col justify-center items-center space-y-2">
      <form class="flex flex-col space-y-2 items-center" onsubmit="event.preventDefault(); signout().then(function(){window.location.href='/home'}) ;return false">
        <div class="flex flex-row space-x-2">
          <button class="btn btn-outline btn-sm w-2/3" onclick="event.preventDefault(); generateRecoveryKit(document.getElementById('handle').innerHTML)">
            Get Recovery Key
          </button>
          <button type="submit" class="btn btn-outline btn-sm">
            Logout
          </button>
          <button class="btn btn-outline btn-sm" formmethod="dialog" onclick="event.preventDefault(); logout_modal.close()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="currentColor"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8L4.646 5.354a.5.5 0 0 1 0-.708z"/></g></svg>
          </button>
        </div>
      </form>
    </div>
  </div>
</dialog>