<script type="module">
  import { getProgram, getProfile, updateProfile, signout, producerChallengeProcessor, generateRecoveryKit, importContacts, appleCredsPresent } from '/dist/odd.js';
  window.updateProfile = updateProfile;
  window.signout = signout;
  window.producerChallengeProcessor = producerChallengeProcessor;
  window.generateRecoveryKit = generateRecoveryKit;
  window.importContacts = importContacts;

  var fissionHandle = (await getProgram()).session.username

  window.refreshProfile = function(){
    getProfile().then((result) => {
      console.log("result: ", result)
      document.getElementById("handle").innerHTML = result.handle
      document.getElementById("name").innerHTML = "Name: " + result.name
      document.getElementById("formname").value = result.name
      document.querySelector(".avatar > div > span").innerHTML = result.handle.charAt(0).toUpperCase()
    
      document.querySelector("#link_device_modal > .modal-box > .modal-action > div").innerHTML = `${window.location.origin}/link?username=${fissionHandle}`
      //generating qr code
      var qrcode = new QRCode({
        content: `${window.location.origin}/link?username=${fissionHandle}`,
        container: "svg-viewbox", //Responsive use
        join: true //Crisp rendering and 4-5x reduced file size
      });
      console.log("generating svg")
      var svg = qrcode.svg();
      document.querySelector("#link_device_modal > .modal-box > .modal-action > .qr").innerHTML = svg;
    })
  }
  refreshProfile();

  var presenceCheck = await appleCredsPresent()
  if(presenceCheck.response){
    document.getElementById("apple_username").value = presenceCheck.value.username
    document.getElementById("apple_password").value = presenceCheck.value.password
    document.querySelector("#import_contacts_modal > .modal-box > .modal-action > form > div > button").innerHTML = `
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="currentColor"><path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914a.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/><path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/></g></svg>
    import again
    `
  }

  window.showLoading = function(){
    document.querySelector(".loading").classList.remove("hidden");
    document.getElementById("apple_username").style.display = "none"
    document.getElementById("apple_password").style.display = "none"
  }

  window.hideLoading = function(){
    document.querySelector(".loading").classList.add("hidden");
  }
</script>

<div class="avatar online placeholder">
  <div class="bg-neutral-focus text-neutral-content rounded-full w-32">
    <span class="text-3xl"></span>
  </div>
</div>
<div class="text-xl text-gray-700 font-light tracking-tight leading-none">Welcome <span id="handle" class="text-xl font-semibold"></span></div>
<div id="name" class="text-xl font-bold tracking-tight leading-none"></div>
<button id="profile-edit-btn" class="btn btn-outline btn-sm" onclick="profile_edit_modal.showModal()">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"> <path fill="currentColor" d="m13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057l3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" /></svg>
  Edit Profile
</button>
<div class="absolute inset-x-0 bottom-0 pb-4 flex flex-col space-y-2 items-center">
  <button class="btn btn-outline btn-sm w-2/3" onclick="import_contacts_modal.showModal()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><defs><path id="biApple0" d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516c.024.034 1.52.087 2.475-1.258c.955-1.345.762-2.391.728-2.43Zm3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422c.212-2.189 1.675-2.789 1.698-2.854c.023-.065-.597-.79-1.254-1.157a3.692 3.692 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116c-.508.139-1.653.589-1.968.607c-.316.018-1.256-.522-2.267-.665c-.647-.125-1.333.131-1.824.328c-.49.196-1.422.754-2.074 2.237c-.652 1.482-.311 3.83-.067 4.56c.244.729.625 1.924 1.273 2.796c.576.984 1.34 1.667 1.659 1.899c.319.232 1.219.386 1.843.067c.502-.308 1.408-.485 1.766-.472c.357.013 1.061.154 1.782.539c.571.197 1.111.115 1.652-.105c.541-.221 1.324-1.059 2.238-2.758c.347-.79.505-1.217.473-1.282Z"/></defs><g fill="currentColor"><use href="#biApple0"/><use href="#biApple0"/></g></svg>
    Import Contacts
  </button>
  <button class="btn btn-outline btn-sm w-2/3" onclick="link_device_modal.showModal()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"> <g fill="currentColor"> <path d="M4.715 6.542L3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199a2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z" /><path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z" /></g></svg>
    Link Device
  </button>
  <button class="btn btn-outline btn-sm w-2/3" onclick="generateRecoveryKit(document.getElementById('handle').innerHTML)">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="currentColor"><path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647l.646-.647a.5.5 0 0 1 .708 0l.646.647l.646-.647a.5.5 0 0 1 .708 0l.646.647l.793-.793l-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z" /><path d="M4 8a1 1 0 1 1-2 0a1 1 0 0 1 2 0z" /></g></svg>
    Recovery Key
  </button>
  <button class="btn btn-outline btn-sm w-2/3" onclick="logout_modal.showModal()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="currentColor" d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2zM3 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1H3z" /></svg>
    Logout
  </button>
</div>
<dialog id="profile_edit_modal" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Edit Profile</h3>
    <p class="text-xs">Press ESC key or click the button below to close</p>
    <div class="modal-action flex justify-center items-center">
      <form id="profile-updatae-form"
        onsubmit="event.preventDefault(); updateProfile(document.getElementById('formname').value).then(function(){console.log('i am here'); refreshProfile()}); profile_edit_modal.close(); return false"
        class="space-y-1 text-center">
        <label for="name" class="font-bold">Name</label>
        <input type="text" id="formname" class="border border-gray-300 px-2 py-1 rounded-lg" value="name">
        <button type="submit" class="btn btn-outline btn-sm">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="currentColor"><path d="M12 2h-2v3h2V2Z"/><path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v13A1.5 1.5 0 0 0 1.5 16h13a1.5 1.5 0 0 0 1.5-1.5V2.914a1.5 1.5 0 0 0-.44-1.06L14.147.439A1.5 1.5 0 0 0 13.086 0H1.5ZM4 6a1 1 0 0 1-1-1V1h10v4a1 1 0 0 1-1 1H4ZM3 9h10a1 1 0 0 1 1 1v5H2v-5a1 1 0 0 1 1-1Z"/></g></svg>
        </button>
      </form>
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn btn-outline btn-sm">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="currentColor"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8L4.646 5.354a.5.5 0 0 1 0-.708z"/></g></svg>
        </button>
      </form>
    </div>
  </div>
</dialog>
<dialog id="link_device_modal" class="modal">
  <div class="modal-box">
    <p class="text-xs">1. Scan QR OR copy this link and paste on another device</br>2. Input the pin & submit</p>
    <div class="modal-action flex flex-col justify-center items-center space-y-2">
      <div>link with username</div>
      <div class="qr w-64 h-64"></div>
      <form class="flex flex-row space-x-2" onsubmit="event.preventDefault(); producerChallengeProcessor(challenge, document.querySelector('#link_device_modal > .modal-box > .modal-action > form > input').value); return false">
        <input type="text" placeholder="put pin" class="input input-bordered input-sm w-full max-w-xs" />
        <button type="submit" class="btn btn-outline btn-sm">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="currentColor" d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0a5.5 5.5 0 0 1 11 0z" /></svg>
          submit
        </button>
      </form>
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn btn-outline btn-sm">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="currentColor"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8L4.646 5.354a.5.5 0 0 1 0-.708z"/></g></svg>
        </button>
      </form>
    </div>
  </div>
</dialog>
<dialog id="import_contacts_modal" class="modal">
  <div class="modal-box">
    <p class="text-base">Generate app specific password <a href="https://support.apple.com/en-us/102654" class="link" target="_blank">here</a></p>
    <p class="text-xs italic">Rolodex DOES NOT store to any of your data, it stays encrypted on your device & in your private vault on IPFS</p>
    <div class="modal-action flex flex-col justify-center items-center space-y-2">
      <form class="flex flex-col space-y-2 items-center" onsubmit="event.preventDefault(); importContacts(document.querySelector('#apple_username').value, document.querySelector('#apple_password').value); showLoading(); setTimeout(()=>{import_contacts_modal.close(); refreshContacts(); hideLoading();}, 5000); return false">
        <input type="text" id="apple_username" placeholder="Apple ID" class="input input-bordered input-sm w-full max-w-xs" />
        <input type="password" id="apple_password" placeholder="App Specific Password" class="input input-bordered input-sm w-full max-w-xs" />
        <div class="loading loading-infinity loading-lg hidden"></div>
        <div class="flex flex-row space-x-2">
          <button type="submit" class="btn btn-outline btn-sm">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="currentColor"><path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/><path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/></g></svg>
            Import
          </button>
          <button class="btn btn-outline btn-sm" formmethod="dialog" onclick="event.preventDefault(); import_contacts_modal.close()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="currentColor"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8L4.646 5.354a.5.5 0 0 1 0-.708z"/></g></svg>
          </button>
        </div>
      </form>
    </div>
  </div>
</dialog>
<dialog id="logout_modal" class="modal">
  <div class="modal-box">
    <p class="text-lg font-bold">Beware!!</p>
    <p class="text-sm">Your account is bound to this device </p>
    <p class="text-sm mt-2">Do Not Logout if you have not downloaded </br> the Recovery Key or Linked Another Device to this account yet</p>
    <div class="modal-action flex flex-col justify-center items-center space-y-2">
      <form class="flex flex-col space-y-2 items-center" onsubmit="event.preventDefault(); signout().then(function(){window.location.href='/home'}) ;return false">
        <div class="flex flex-row space-x-2">
          <button class="btn btn-outline btn-sm w-2/3" onclick="event.preventDefault(); generateRecoveryKit(document.getElementById('handle').innerHTML)">
            Get Recovery Key
          </button>
          <button type="submit" class="btn btn-outline btn-sm">
            Logout
          </button>
          <button class="btn btn-outline btn-sm" formmethod="dialog" onclick="event.preventDefault(); logout_modal.close()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="currentColor"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8L4.646 5.354a.5.5 0 0 1 0-.708z"/></g></svg>
          </button>
        </div>
      </form>
    </div>
  </div>
</dialog>