<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./styles/style.css" />
  </head>

  <%- include('../partials/google_analytics.ejs') %>

  <body class="antialiased">
    <script type="module">
      import { createPasskey, assertPasskey } from "/javascript/crypto_utils.js";
      window.createPasskey = createPasskey;
      window.assertPasskey = assertPasskey;
    </script>


    <div class="container mx-auto px-4 h-screen flex flex-col justify-evenly items-center">
      <div class="text-5xl font-extrabold tracking-tight box-decoration-slice bg-gradient-to-r from-blue-500 to-pink-500 text-white p-2">Simple Follow</div>
      <% if (alert) { %>
        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <%= alert %>
        </div>
      <% } %>
      <div class="relative p-4 text-center">
        <div class="absolute top-0 -left-4 w-48 h-48 bg-purple-300 rounded-full mix-blend-multiply filter blur-xl opacity-50 animate-blob"></div>
        <div class="absolute top-0 -right-4 w-48 h-48 bg-yellow-300 rounded-full mix-blend-multiply filter blur-xl opacity-50 animate-blob animation-delay-2000"></div>
        <div class="absolute -bottom-8 left-10 w-48 h-48 bg-pink-300 rounded-full mix-blend-multiply filter blur-xl opacity-50 animate-blob animation-delay-4000"></div>
        <div class="text-3xl font-bold tracking-tight leading-none">Bring your following along</div>
        <div class="text-lg text-gray-700 py-6 font-medium">
          Don't restart your adventure from scratch, Everytime you move to a new social app<br/>
          One Follow To Rule Them All.
        </div>
        <div class="text-2xl font-semibold mt-4">Your <span class="underline decoration-4 decoration-sky-500">Portable Social Graph</span></div>
      </div>
      <div class="flex flex-row items-center space-x-10">
        <form id="passkey-sigin-form" method="post" action="/signin" onsubmit="event.preventDefault(); assertPasskey(this); return false" class="space-y-1 text-center">
          <label for="team_name" class="font-bold">Username</label>
          <input type="text" id="shandle" name="fhandle" class="border border-gray-300 px-2 py-1 rounded-lg">
          <input type="hidden" id="svalidated" name="fvalidated" value="false">
          <input type="hidden" id="shandleAlreadyTaken" name="fhandleAlreadyTaken" value="false">
          <button type="submit" class="rounded-lg bg-green-600 px-2 py-2 text-gray-200 font-medium">Sigin with passkeys</button>
        </form>
        <form id="passkey-create-form" method="post" action="/account" onsubmit="event.preventDefault(); createPasskey(this); return false" class="space-y-1 text-center">
          <label for="team_name" class="font-bold">Username</label>
          <input type="text" id="phandle" name="fhandle" class="border border-gray-300 px-2 py-1 rounded-lg">
          <input type="hidden" id="pdid" name="fdid" value="">
          <input type="hidden" id="pdoc" name="fdoc" value="">
          <button type="submit" class="rounded-lg bg-blue-500 px-2 py-2 text-gray-200 font-medium">Sigup with passkeys</button>
        </form>
      </div>
      <%- include('../partials/shovel.ejs') %>
    </div>
  </body>
</html>
