<!DOCTYPE html>
<html lang="en">
  <head>
    <script type = "text/javascript" src="../index.js" defer></script>
    <link rel="stylesheet" href="./styles/style.css" />
  </head>

  <%- include('../partials/google_analytics.ejs') %>

  <body class="antialiased">
    <%- include('../partials/navbar.ejs') %>
    <div class="container mx-auto px-4 h-screen flex flex-col justify-center items-center">
      <form id="form1" method="post" action="/account" class="space-y-1 text-center">
        <label>Handle</label>
        <label for="team_name" class="font-bold">@</label>
        <input type="text" name="fhandle" class="border border-gray-300 px-2 py-1 rounded-lg">
        <button type="submit" class="rounded-lg bg-blue-500 px-2 py-2 text-gray-200">Create Account</button>
      </form>
      <form id="form1" method="post" action="/signin" class="space-y-1 text-center">
        <label>Handle</label>
        <label for="team_name" class="font-bold">@</label>
        <input type="text" name="fhandle" class="border border-gray-300 px-2 py-1 rounded-lg">
        <button type="submit" class="rounded-lg bg-blue-500 px-2 py-2 text-gray-200">Find User</button>
      </form>
    <%- include('../partials/shovel.ejs') %>
    </div>
  </body>
</html>
