<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <table>
      <tr>
        <th>Users</th>
        <th>Graphs</th>
        <th>Relationships</th>
      </tr>
      <tr>
        <td><%= users %></td>
        <td><%= graphs %></td>
        <td><%= relationships %></td>
      </tr>
    </table>
  </body>
</html>