<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./styles/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
  </head>
  <body>
    <div class="flex flex-col justify-evenly items-center h-screen bg-neutral">
      <div class="text-5xl font-bold tracking-tight underline underline-offset-4 decoration-4 decoration-accent">Protocol Explorer</div>
      <div class="flex flex-row space-x-4">
        <div class="stats shadow">
          <div class="stat place-items-center">
            <div class="stat-figure text-secondary">
              <i class="fa fa-connectdevelop" aria-hidden="true"></i>
            </div>
            <div class="stat-title">Registeriess</div>
            <div class="stat-value"><%= registeries %></div>
            <div class="stat-desc">Total across apps</div>
          </div>
        </div>

        <div class="stats shadow">
          <div class="stat place-items-center">
            <div class="stat-figure text-secondary">
              <i class="fa fa-handshake-o" aria-hidden="true"></i>
            </div>
            <div class="stat-title">Relationships</div>
            <div class="stat-value"><%= relationships %></div>
            <div class="stat-desc">Total across apps</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
