<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <div class="flex flex-col justify-evenly items-center h-screen bg-error-content">
      <div class="text-5xl font-bold tracking-tight">Phonebook</div>
    </div>
  </body>
</html>
