<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <script type="module">
      import { createPasskey, assertPasskey } from "/dist/crypto_utils.js";
      window.createPasskey = createPasskey;
      window.assertPasskey = assertPasskey;
    </script>

    <div class="mx-auto px-4 h-screen w-full bg-error-content flex flex-col justify-evenly items-center">
      <div class="text-5xl font-extrabold tracking-tight p-2">Phone Book</div>
      <div class="flex flex-row items-center space-x-10">
        <form id="passkey-sigin-form" method="post" action="/signin" onsubmit="event.preventDefault(); assertPasskey(this); return false" class="space-y-1 text-center">
          <label for="team_name" class="font-bold">Username</label>
          <input type="text" id="shandle" name="fhandle" class="border border-gray-300 px-2 py-1 rounded-lg">
          <input type="hidden" id="svalidated" name="fvalidated" value="false">
          <input type="hidden" id="shandleAlreadyTaken" name="fhandleAlreadyTaken" value="false">
          <button type="submit" class="rounded-lg btn btn-primary px-2 py-2 text-gray-200 font-medium">Sigin with passkeys</button>
        </form>
        <form id="passkey-create-form" method="post" action="/account" onsubmit="event.preventDefault(); createPasskey(this); return false" class="space-y-1 text-center">
          <label for="team_name" class="font-bold">Username</label>
          <input type="text" id="phandle" name="fhandle" class="border border-gray-300 px-2 py-1 rounded-lg">
          <input type="hidden" id="pdid" name="fdid" value="">
          <input type="hidden" id="pdoc" name="fdoc" value="">
          <button type="submit" class="rounded-lg btn btn-secondary px-2 py-2 text-gray-200 font-medium">Sigup with passkeys</button>
        </form>
      </div>
    </div>
  </body>
</html>
