<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="./styles/style.css" />
  <script type="module" src="https://unpkg.com/@oddjs/odd@0.37.2/dist/index.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/papnkukn/qrcode-svg/dist/qrcode.min.js"></script>
</head>

<%- include('../partials/google_analytics.ejs') %>

  <body class="antialiased bg-base-100">
    <script type="module">
      import { getProfile, updateProfile, getContacts, addContact, editContact, signout, deleteContact, getProgram, getSession, producerChallengeProcessor } from '/dist/odd.js';
      window.updateProfile = updateProfile;
      window.addContact = addContact;
      window.editContact = editContact;
      window.deleteContact = deleteContact;
      window.signout = signout;
      window.producerChallengeProcessor = producerChallengeProcessor;

      var program = await getProgram(globalThis.oddjs);
      var session = await getSession(program);
      if (session === undefined) {
        window.location.href = '/home';
      } else {
        getProfile(globalThis.oddjs).then((result) => {
          document.getElementById("handle").innerHTML = result.handle
          document.getElementById("name").innerHTML = "Name: " + result.name
          document.getElementById("formname").value = result.name
          document.querySelector(".avatar > div > span").innerHTML = result.handle.charAt(0).toUpperCase()
        })
        getContacts(globalThis.oddjs).then((result) => {
          let table = document.createElement('table');
          table.classList.add("table", "table-zebra", "table-pin-rows")
          var tbody = table.createTBody();
          for (let [key, value] of Object.entries(result.contactList)) {
            let row = tbody.insertRow();
            let cell = row.insertCell(0);
            cell.textContent = value;
            let editcell = row.insertCell(1);
            editcell.classList.add("text-right")
            editcell.innerHTML = `
              <button class="btn btn-ghost btn-xs" onclick="contact_edit_modal.showModal(); setContactEditForm('${key}', '${value}');">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="currentColor" d="m13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057l3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/></svg>
              </button>`
          }
          document.getElementById("contact-list-table").appendChild(table)
        })
        
        window.setContactEditForm = function (id, name){
          document.getElementById("edit-contact-name").value = name
          document.getElementById("edit-contact-id").value = id
        }

        console.log("session: ", session)
        document.querySelector("#link_device_modal > .modal-box > .modal-action > div").innerHTML = `${window.location.origin}/link?username=${session.username}`
        var qrcode = new QRCode({
          content: `${window.location.origin}/link?username=${session.username}`,
          container: "svg-viewbox", //Responsive use
          join: true //Crisp rendering and 4-5x reduced file size
        });
        console.log("generating svg")
        var svg = qrcode.svg();
        document.querySelector("#link_device_modal > .modal-box > .modal-action > .qr").innerHTML = svg;
        
        var producer = await program.auth.accountProducer(session.username)
        console.log("first producer: ", producer)
        producer.on("challenge", challenge => {
          window.challenge = challenge;
        })
        producer.on("link", ({ approved }) => {
          if (approved) console.log("Link device successfully")
        })
      }


    </script>

    <div class="container mx-auto px-4 h-screen flex flex-col justify-evenly items-center">
      <div class="w-full h-4/5 p-4 text-center flex flex-row justify-evenly">
        <div class="relative bg-base-200 w-1/4 py-4 space-y-2 rounded-lg">
          <div class="avatar online placeholder">
            <div class="bg-neutral-focus text-neutral-content rounded-full w-32">
              <span class="text-3xl"></span>
            </div>
          </div>
          <div class="text-xl text-gray-700 font-light tracking-tight leading-none">Welcome <span id="handle" class="text-xl font-semibold"></span></div>
          <div id="name" class="text-xl font-bold tracking-tight leading-none"></div>
          <button id="profile-edit-btn" class="btn btn-outline btn-sm" onclick="profile_edit_modal.showModal()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"> <path fill="currentColor" d="m13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057l3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" /></svg>
            Edit Profile
          </button>
          <div class="absolute inset-x-0 bottom-0 pb-4 flex flex-col space-y-2 items-center">
            <button class="btn btn-outline btn-sm w-2/3">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"> <g fill="currentColor"> <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" /><path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" /></g></svg>
              Add Account
            </button>
            <button class="btn btn-outline btn-sm w-2/3" onclick="link_device_modal.showModal()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"> <g fill="currentColor"> <path d="M4.715 6.542L3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199a2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z" /><path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z" /></g></svg>
              Link Device
            </button>
            <button class="btn btn-outline btn-sm w-2/3">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="currentColor"><path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647l.646-.647a.5.5 0 0 1 .708 0l.646.647l.646-.647a.5.5 0 0 1 .708 0l.646.647l.793-.793l-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z" /><path d="M4 8a1 1 0 1 1-2 0a1 1 0 0 1 2 0z" /></g></svg>
              Recovery Key
            </button>
            <button class="btn btn-outline btn-sm w-2/3" onclick="signout(globalThis.oddjs).then(function(){window.location.href='/home'}); console.log('signedout')">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="currentColor" d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2zM3 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1H3z" /></svg>
              Logout
            </button>
          </div>
          <dialog id="profile_edit_modal" class="modal">
            <div class="modal-box">
              <h3 class="font-bold text-lg">Edit Profile</h3>
              <p class="text-xs">Press ESC key or click the button below to close</p>
              <div class="modal-action flex justify-center items-center">
                <form id="profile-updatae-form"
                  onsubmit="event.preventDefault(); updateProfile(globalThis.oddjs, document.getElementById('formname').value).then(function(){window.location.reload()}); return false"
                  class="space-y-1 text-center">
                  <label for="name" class="font-bold">Name</label>
                  <input type="text" id="formname" class="border border-gray-300 px-2 py-1 rounded-lg" value="name">
                  <button type="submit" class="btn btn-outline btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                      <path fill="currentColor"
                        d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z" />
                    </svg>
                  </button>
                </form>
                <form method="dialog">
                  <!-- if there is a button in form, it will close the modal -->
                  <button class="btn btn-outline btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="currentColor"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8L4.646 5.354a.5.5 0 0 1 0-.708z"/></g></svg>
                  </button>
                </form>
              </div>
            </div>
          </dialog>
          <dialog id="link_device_modal" class="modal">
            <div class="modal-box">
              <p class="text-xs">1. Scan QR OR copy this link and paste on another device</br>2. Input the pin & submit</p>
              <div class="modal-action flex flex-col justify-center items-center space-y-2">
                <div>link with username</div>
                <div class="qr w-64 h-64"></div>
                <form class="flex flex-row space-x-2" onsubmit="event.preventDefault(); producerChallengeProcessor(challenge, document.querySelector('#link_device_modal > .modal-box > .modal-action > form > input').value); return false">
                  <input type="text" placeholder="put pin" class="input input-bordered input-sm w-full max-w-xs" />
                  <button type="submit" class="btn btn-outline btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="currentColor" d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0a5.5 5.5 0 0 1 11 0z" /></svg>
                    submit
                  </button>
                </form>
                <form method="dialog">
                  <!-- if there is a button in form, it will close the modal -->
                  <button class="btn btn-outline btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="currentColor"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8L4.646 5.354a.5.5 0 0 1 0-.708z"/></g></svg>
                  </button>
                </form>
              </div>
            </div>
          </dialog>
        </div>
        <div class="w-3/4 py-4 space-y-2">
          <div class="flex justify-evenly">
            <div class="flex flex-row space-x-2">
              <input type="text" placeholder="Search" class="input input-bordered input-sm w-full max-w-xs" />
              <button class="btn btn-outline btn-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                  <path fill="currentColor"
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0a5.5 5.5 0 0 1 11 0z" />
                </svg>
              </button>
            </div>
            <button id="contact-add-btn" class="btn btn-outline btn-sm" onclick="contact_add_modal.showModal()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="currentColor"><path d="M12.5 16a3.5 3.5 0 1 0 0-7a3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0a3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4a2 2 0 0 0 0 4Z"/><path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025c.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/></g></svg>
              Add
            </button>
          </div>
          <dialog id="contact_add_modal" class="modal">
            <div class="modal-box">
              <h3 class="font-bold text-lg">Contact Details</h3>
              <p class="text-xs">Press ESC key or click the button below to close</p>
              <div class="modal-action flex justify-center items-center">
                <form id="add-contact-form"
                  onsubmit="event.preventDefault(); addContact(globalThis.oddjs, document.getElementById('contacthandle').value).then(function(){window.location.reload()}); return false"
                  class="space-y-1 text-center">
                  <label for="user_name" class="font-bold">Name</label>
                  <input type="text" id="contacthandle" class="border border-gray-300 px-2 py-1 rounded-lg">
                  <button type="submit" class="btn btn-outline btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                      <path fill="currentColor"
                        d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z" />
                    </svg>
                  </button>
                </form>
                <form method="dialog">
                  <!-- if there is a button in form, it will close the modal -->
                  <button class="btn btn-outline btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="currentColor"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8L4.646 5.354a.5.5 0 0 1 0-.708z"/></g></svg>
                  </button>
                </form>
              </div>
            </div>
          </dialog>
          <div class="flex justify-center max-h-1/3 pt-4">
            <div id="contact-list-table" class="overflow-x-auto w-1/2">
            </div>
            <dialog id="contact_edit_modal" class="modal">
              <div class="modal-box">
                <h3 class="font-bold text-lg">Contact Details</h3>
                <p class="text-xs">Press ESC key or click the button below to close</p>
                <div class="modal-action flex justify-center items-center">
                  <form id="edit-contact-form"
                    onsubmit="event.preventDefault(); editContact(globalThis.oddjs, document.getElementById('edit-contact-id').value, document.getElementById('edit-contact-name').value).then(function(){window.location.reload()}); return false"
                    class="space-y-1 text-center">
                    <label for="user_name" class="font-bold">Name</label>
                    <input type="text" id="edit-contact-id" hidden class="border border-gray-300 px-2 py-1 rounded-lg">
                    <input type="text" id="edit-contact-name" class="border border-gray-300 px-2 py-1 rounded-lg">
                    <button type="submit" class="btn btn-outline btn-sm">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"> <path fill="currentColor" d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z" /></svg>
                    </button>
                  </form>
                  <form method="dialog">
                    <!-- if there is a button in form, it will close the modal -->
                    <button class="btn btn-outline btn-sm">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="currentColor"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8L4.646 5.354a.5.5 0 0 1 0-.708z"/></g></svg>
                    </button>
                  </form>
                  <button class="btn btn-outline btn-sm" onclick="deleteContact(globalThis.oddjs, document.getElementById('edit-contact-id').value).then(function(){window.location.reload()})">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="currentColor" d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1l-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/></svg>
                  </button>
                </div>
              </div>
            </dialog>
          </div>
        </div>
      </div>
      <%- include('../partials/shovel.ejs') %>
    </div>
  </body>

</html>