<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <link rel="stylesheet" href="./styles/style.css" />
    <link rel="icon" href="/favicon.ico">
    <script src="https://cdn.jsdelivr.net/gh/papnkukn/qrcode-svg/dist/qrcode.min.js"></script>
  </head>

  <%- include('../partials/google_analytics.ejs') %>

  <body class="antialiased bg-base-100">
    <script type="module">
      
      import { signup, recover, account, farcasterClient, farcasterSignup, createSiweMessage, getNonce, verifySiweMessage, ethereumSignup } from '/odd.js';
      import { ethers } from "https://cdnjs.cloudflare.com/ajax/libs/ethers/6.12.1/ethers.min.js";
      window.signup = signup;
      window.recover = recover;
      if (window.ethereum) {
        try {
        const provider = new ethers.BrowserProvider(window.ethereum); 
        }
        catch (error) {
          console.log("Issue with initialising ethereum provider");
        }
      }  else {
        console.error("Ethereum provider not found");
      }

      var session = await account.activeSession();
      if (session) {
        window.location.href = '/app';
      }

      window.showLoading = function(){
        document.querySelector(".loading").classList.remove("hidden");
        document.querySelector("#input-forms").classList.add("hidden");
      }

      window.signupForm =  async function(handle){
        var success = await signup(handle, requester)
        if (success) {window.showLoading()}
        else { alert("Username Already Taken")}
      }

      window.connectWallet = async function(){
        await provider.send('eth_requestAccounts', [])
                .catch(() => console.log('User rejected request'));
      }

     window.ethereumSignUp = async function() {
      const connected = await connectWallet();
      const agentDID = await account.agent.DID()
      const nonce = await getNonce();
      const signer = await provider.getSigner();
      const address = await signer.getAddress();
      const chainId =  await window.ethereum.request({method:"eth_chainId"});
      const integerChainId = parseInt(chainId,16)
      const message =  await createSiweMessage(address,nonce,agentDID,integerChainId);
      const signature = await signer.signMessage(message)
      
      let accountDID = `did:pkh:eip155:${integerChainId}:${address}`
      let profileData = { handle: address, name: "", text:"", tags: [] }
      
      const verified = await verifySiweMessage(message,signature,nonce);
      if(verified) {
        await ethereumSignup(accountDID, message, signature, profileData, address)
        window.location.href = "/app";
      } else {
        alert('Singup failed! Error :', verified)
      }
      
     }

     window.startFarcasterSignup = async function(){
      const agentDID = await account.agent.DID()
      const channel = await farcasterClient.createChannel({
        siweUri: window.location.origin,
        domain: window.location.host,
        requestId: agentDID
      });

      const url = channel.data.url
      var qrcode = new QRCode({content: url, container: "svg-viewbox", join: true});
      document.querySelector("#signup_by_farcaster > .modal-box > .modal-action > .qr").innerHTML = qrcode.svg();

      signup_by_farcaster.showModal()

      farcasterClient.watchStatus({
        channelToken: channel.data.channelToken,
      }).then((status) => {
        console.log(status)
        signup_by_farcaster.close()
        window.showLoading()
        farcasterClient.verifySignInMessage({
         nonce: status.data.nonce,
         domain: window.location.host,
         message: status.data.message,
         signature: status.data.signature
        }).then(async (response) => {
         console.log(response)
         if (response.success) {
           console.log(`did:pkh:eip155:${response.data.chainId}:${response.data.address}`, status.data.username, agentDID, status.data.message, status.data.signature)
           let accountDID = `did:pkh:eip155:${response.data.chainId}:${response.data.address}`
           let profileData = { handle: status.data.username, name: status.data.displayName, text: status.data.bio, tags: [], pfpUrl: status.data.pfpUrl}
           console.log("farcaster message", status.data.message);
           await farcasterSignup(accountDID, status.data.message, status.data.signature, profileData, status.data.fid)
           window.location.href = "/app"
         }
        })
      })

       window.farcasterClient = farcasterClient
       window.channel = channel
     }

    </script>
    <div class="container mx-auto px-4 h-screen flex flex-col justify-evenly items-center">
      <div class="p-4 text-center">
        <div class="text-7xl font-bold tracking-tight leading-normal underline decoration-red-500 decoration-8">Rolodex</div>
        <div class="text-3xl font-semibold tracking-tight leading-normal">Your Internet Native Contact Book</div>
      </div>
      <div class="loading loading-infinity loading-lg hidden"></div>
      <div id="input-forms" class=" flex flex-col space-y-4 p-8 rounded-lg">
        <form id="signup-form" onsubmit="event.preventDefault(); signupForm(document.getElementById('handle').value);" class="hidden space-y-1 text-center">
          <label for="user_name" class="font-bold">Username</label>
          <input type="text" id="handle" name="handle" class="border border-gray-300 px-2 py-1 rounded-lg">
          <button type="submit" class="btn btn-outline btn-sm">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="currentColor"><path d="M12.5 16a3.5 3.5 0 1 0 0-7a3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0a3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4a2 2 0 0 0 0 4Z"/><path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025c.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/></g></svg>
            Signup
          </button>
        </form>
        <form id="recovery-form" onsubmit="event.preventDefault(); recover(document.querySelector('#recovery-form > input').files[0]); showLoading();" class="hidden space-y-1 text-center">
          <p class="text-lg font-semibold">Already Have an account?</p>
          <p class="italic text-sm">Use Recovery Kit</p>
          <input type="file" name="recovery_kit" class="file-input file-input-sm file-input-bordered">
          <button type="submit" class="btn btn-outline btn-sm">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="currentColor"><path d="M12.5 16a3.5 3.5 0 1 0 0-7a3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0a3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4a2 2 0 0 0 0 4Z"/><path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025c.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/></g></svg>
            Recover
          </button>
        </form>
        <button type="submit" class="btn btn-outline btn-sm" onclick="startFarcasterSignup()">
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M18.24.24H5.76A5.76 5.76 0 0 0 0 6v12a5.76 5.76 0 0 0 5.76 5.76h12.48A5.76 5.76 0 0 0 24 18V6A5.76 5.76 0 0 0 18.24.24m.816 17.166v.504a.49.49 0 0 1 .543.48v.568h-5.143v-.569A.49.49 0 0 1 15 17.91v-.504c0-.22.153-.402.358-.458l-.01-4.364c-.158-1.737-1.64-3.098-3.443-3.098c-1.804 0-3.285 1.361-3.443 3.098l-.01 4.358c.228.042.532.208.54.464v.504a.49.49 0 0 1 .543.48v.568H4.392v-.569a.49.49 0 0 1 .543-.479v-.504c0-.253.201-.454.454-.472V9.039h-.49l-.61-2.031H6.93V5.042h9.95v1.966h2.822l-.61 2.03h-.49v7.896c.252.017.453.22.453.472"/></svg>
          Sign-in with Warpcast
        </button>
        <button type="submit" class="btn btn-outline btn-sm" onclick="ethereumSignUp()">
          <svg xmlns="http://www.w3.org/2000/svg" width="0.62em" height="1em" viewBox="0 0 256 417"><path fill="#343434" d="m127.961 0l-2.795 9.5v275.668l2.795 2.79l127.962-75.638z"/><path fill="#8c8c8c" d="M127.962 0L0 212.32l127.962 75.639V154.158z"/><path fill="#3c3c3b" d="m127.961 312.187l-1.575 1.92v98.199l1.575 4.601l128.038-180.32z"/><path fill="#8c8c8c" d="M127.962 416.905v-104.72L0 236.585z"/><path fill="#141414" d="m127.961 287.958l127.96-75.637l-127.96-58.162z"/><path fill="#393939" d="m.001 212.321l127.96 75.637V154.159z"/></svg>
           Sign in with ethereum
        </button>
      </div>
      <dialog id="signup_by_farcaster" class="modal">
        <div class="modal-box">
          <div class="text-center font-lg">Sign in with Farcaster</div>
          <div class="text-center text-sm">Scan with your phone's camera to </br>continue.</div>
          <div class="modal-action flex flex-col justify-center items-center space-y-2">
            <div class="qr w-64 h-64"></div>
          </div>
        </div>
      </dialog>
      <%- include('../partials/shovel.ejs') %>
    </div>
  </body>
</html>
