<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <link rel="stylesheet" href="./styles/style.css" />
  </head>

  <%- include('../partials/google_analytics.ejs') %>

  <body class="antialiased bg-base-100">
    <script type="module">
      import { account } from '/odd.js';

      var url = new URL(window.location.href)
      var handle = url.searchParams.get("handle")
      var peerId = url.searchParams.get("peerId")

      if (handle && peerId) {
        console.log("sync", shovel.fs.syncServer)
        shovel.session.agent.actAsRequester(`${shovel.fs.syncServer}/p2p-circuit/webrtc/p2p/${peerId}`, handle)
      } else {
        console.log("Invalid URL")
      }
    </script>
    <div class="container mx-auto px-4 h-screen flex flex-col justify-evenly items-center">
      <h1 class="text-6xl font-extrabold tracking-tight leading-none underline decoration-red-500 decoration-8">Rolodex</h1>
      <div class="p-4 text-center text-3xl"></div>
      <%- include('../partials/shovel.ejs') %>
    </div>
  </body>
</html>