<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <link rel="stylesheet" href="./styles/style.css" />
    <script type="module" src="https://unpkg.com/@oddjs/odd@0.37.2/dist/index.umd.min.js"></script>
  </head>

  <%- include('../partials/google_analytics.ejs') %>

  <body class="antialiased bg-base-100">
    <script type="module">
      import { getProgram } from '/dist/odd.js';
      var username = window.location.href.split('?')[1].split("=")[1];
      console.log("usernmae: ", username)
      var program = await getProgram(globalThis.oddjs); 
      var consumer = await program.auth.accountConsumer(username)
      
      consumer.on("challenge", ({ pin }) => {
        // Display the PIN
        console.log("pin: ", pin)
        document.querySelector(".container > div").innerHTML = `${pin[0]}${pin[1]}${pin[2]}${pin[3]}${pin[4]}${pin[5]}`
      })
      consumer.on("link", async ({ approved, username }) => {
        if (approved) {
          console.log(`Successfully authenticated as ${username}`)
          var session = await program.auth.session()
          console.log("session: ", session)
          window.location.href = `/app`
        }
      })
    </script>

    <div class="container mx-auto px-4 h-screen flex flex-col justify-evenly items-center">
      <h1 class="text-6xl font-extrabold tracking-tight leading-none underline decoration-red-500 decoration-8">Rolodex</h1>
      <div class="p-4 text-center"></div>
      <%- include('../partials/shovel.ejs') %>
    </div>
  </body>
</html>