<!DOCTYPE html>
<html lang="en">

<head>
  <script type="text/javascript" src="../index.js" defer></script>
  <link rel="stylesheet" href="./styles/style.css" />
  <script type="module" src="https://unpkg.com/@oddjs/odd@0.37.2/dist/index.umd.min.js"></script>
</head>

<%- include('../partials/google_analytics.ejs') %>

  <body class="antialiased bg-base-100">
    <script type="module">
      import { getProfile, updateProfile, getContacts, addContact } from '/dist/odd.js';
      window.getProfile = getProfile;
      window.updateProfile = updateProfile;
      window.getContacts = getContacts;
      window.addContact = addContact;

      getProfile(globalThis.oddjs).then((result) => {
        document.getElementById("handle").innerHTML = "Welcome " + result.handle
        document.getElementById("name").innerHTML = "Name: " + result.name
        document.getElementById("formname").placeholder = result.name
      })
      getContacts(globalThis.oddjs).then((result) => { document.getElementById("contactList").innerHTML = result.contactList })
    </script>
    <div class="container mx-auto px-4 h-screen flex flex-col justify-evenly items-center">
      <div class="w-full h-4/5 p-4 text-center flex flex-row justify-evenly">
        <div class="bg-base-200 w-1/4 py-4 space-y-2 rounded-lg">
          <div class="avatar online placeholder">
            <div class="bg-neutral-focus text-neutral-content rounded-full w-32">
              <span class="text-3xl">K</span>
            </div>
          </div>
          <div id="handle" class="text-3xl font-bold tracking-tight leading-none">Welcome</div>
          <div id="name" class="text-xl font-bold tracking-tight leading-none"></div>
          <button id="profile-edit-btn" class="btn btn-outline btn-xs" onclick="profile_edit_modal.showModal()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
              <path fill="currentColor"
                d="m13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057l3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
            </svg>
          </button>
          <dialog id="profile_edit_modal" class="modal">
            <div class="modal-box">
              <h3 class="font-bold text-lg">Edit Profile</h3>
              <p class="text-xs">Press ESC key or click the button below to close</p>
              <div class="modal-action flex items-center">
                <form id="profile-updatae-form"
                  onsubmit="event.preventDefault(); updateProfile(globalThis.oddjs, document.getElementById('formname').value).then(function(){window.location.reload()}); return false"
                  class="space-y-1 text-center">
                  <label for="name" class="font-bold">Name</label>
                  <input type="text" id="formname" class="border border-gray-300 px-2 py-1 rounded-lg" placeholder="name">
                  <button type="submit" class="btn btn-outline btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                      <path fill="currentColor"
                        d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z" />
                    </svg>
                    Save
                  </button>
                </form>
                <form method="dialog">
                  <!-- if there is a button in form, it will close the modal -->
                  <button class="btn btn-outline btn-sm">Close</button>
                </form>
              </div>
            </div>
          </dialog>
        </div>
        <div class="divider divider-horizontal"></div>
        <div class="w-3/4 py-4 space-y-2">
          <div class="text-3xl font-bold tracking-tight leading-none">Contact List</div>
          <form id="add-contact-form"
            onsubmit="event.preventDefault(); addContact(globalThis.oddjs, document.getElementById('contacthandle').value).then(function(){window.location.reload()}); return false"
            class="space-y-1 text-center">
            <label for="user_name" class="font-bold">Name</label>
            <input type="text" id="contacthandle" class="border border-gray-300 px-2 py-1 rounded-lg">
            <button type="submit" class="btn btn-outline btn-sm">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <g fill="currentColor">
                  <path
                    d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                  <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </g>
              </svg>
              Add Contact
            </button>
          </form>
          <div id="contactList" class="text-xl font-bold tracking-tight leading-none"></div>
        </div>
      </div>
      <%- include('../partials/shovel.ejs') %>
    </div>
  </body>

</html>