name: Fly Deploy
on:
  push:
    branches:
      - main
jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - name: Deploy Rolodex
        run: flyctl deploy --remote-only
        working-directory: ./app/rolodex
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
